@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Serif";
  background-color: #f9f1e9;
}

#root {
  position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.truncate-paragraph {
  overflow: hidden;
  line-height: 150%;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
